* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  max-width: 100%;
}
h1 {
  font-size: 70px;
}
p {
  font-size: 15px;
}
h2,
th {
  font-size: 35px;
}
.nav {
  text-align: center;
  width: 100%;
}
.nav a {
  display: inline-block;
  margin-left: 20px;
  text-decoration: none;
  color: #FF0000;
  font-size: 35px;
}
.workhistory {
  display: flex;
}
.workhistory h2 {
  align-self: center;
  flex-wrap: wrap;
}
.workhistory table {
  display: flex;
  flex-wrap: nowrap;
  border: 1px solid black;
  align-content: center;
}
.workhistory table th {
  background-color: #FF0000;
}
.workhistory table tr {
  background-color: rgba(122, 125, 126, 0.637);
}
