
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}
@flex: flex;
@bigger: 70px;
@medium: 35px;
@smaller: 15px;
@thbrcolor: #FF0000;
@trbrcolor: rgba(122, 125, 126, 0.637);
@border: 1px solid black;
body {
	max-width: 100%;
}
h1 {
	font-size: @bigger;
}
p {
	font-size: @smaller;
}
h2, th {
	font-size: @medium;
}

.nav {
	text-align:center;
	width:100%;
	word-spacing: 1em;
	background-color: black;
	animation-name: changebackground;
	animation-iteration-count: infinite; 
		 animation-duration: 30s;
	

	 a {
		 display: inline-block;
		 margin-left: 20px;
		 text-decoration: none;
		 color:@thbrcolor;
		 font-size: @medium;
		 word-spacing: 1em;
		 animation-name: change;
		 animation-iteration-count: infinite;
		 animation-duration: 30s;
	 }
      @keyframes change {
		5% {color: black;}
	    25% {color: yellow;}
		50% {color: white;}
		75% {color: green;}
        100% {color: @thbrcolor;}
		
		  }
		  @keyframes changebackground {
			5% {background-color: white;}
			25% {background-color: @thbrcolor;}
			50% {background-color: green;}
			75% {background-color: @thbrcolor;}
			100% {background-color: black;}
		  }

		
		  
	}
.intro {
	display: flex;
	background-color:@thbrcolor;
	color: white;
	text-align: center;
	
      img {
		  width: 50%;
		  height: 50%;
		
	  }
	  header {
		  position: relative;
		  left: 200px;
		  top: 175px;
	}
}
.skills {
	text-align: center;
	h2 {
		text-decoration: underline;
}
}

    
	










.workhistory {
	display: @flex;
	h2 {
		align-self: center;
		flex-wrap: wrap;
	}
		table {
		display: @flex;
		flex-wrap: nowrap;
		border: @border;
		align-content: center;
			th {
				background-color: @thbrcolor;
			}
			tr {
				background-color: @trbrcolor;
}	}	}	


