
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}
@flex: flex;
@bigger: 70px;
@medium: 35px;
@smaller: 15px;
@thbrcolor: #FF0000;
@trbrcolor: rgba(122, 125, 126, 0.637);
@border: 1px solid black;
body {
	max-width: 100%;
}
h1 {
	font-size: @bigger;
}
p {
	font-size: @smaller;
}
h2, th {
	font-size: @medium;
}

.nav {
	text-align:center;
	width:100%;
	
	 a {
		 display: inline-block;
		 margin-left: 20px;
		 text-decoration: none;
		 color:@thbrcolor;
		 font-size: @medium;
	 }
	}
	




    
	










.workhistory {
	display: @flex;
	h2 {
		align-self: center;
		flex-wrap: wrap;
	}
		table {
		display: @flex;
		flex-wrap: nowrap;
		border: @border;
		align-content: center;
			th {
				background-color: @thbrcolor;
			}
			tr {
				background-color: @trbrcolor;
}	}	}	


