
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}
@flex: flex;
@bigger: 70px;
@medium: 35px;
@smaller: 15px;
@thbrcolor: #FF0000;
@trbrcolor: rgb(10, 10, 10);
@border: 1px solid black;
.center {
	position: relative;
		  left: 25%;
		  top: 0%;
	
}

body {
	max-width: 100%;
}
h1 {
	font-size: @bigger;
}
p {
	font-size: @smaller;
}
h2, th {
	font-size: @medium;
}

.nav {
	text-align:center;
	width:100%;
	word-spacing: 1em;
	background-color: black;
	animation-name: changebackground;
	animation-iteration-count: infinite; 
	animation-duration: 60s;
	position: fixed;
	
	

	 a {
		 display: inline-block;
		 margin-left: 20px;
		 text-decoration: none;
		 color:@thbrcolor;
		 font-size: @medium;
		 word-spacing: 1em;
		 animation-name: change;
		 animation-iteration-count: infinite;
		 animation-duration: 60s;
	 }
      @keyframes change {
		5% {color: @thbrcolor}
	    25% {color: @thbrcolor}
		50% {color: white;}
		75% {color: @trbrcolor;}
        100% {color: @trbrcolor;}
		
		  }
		  @keyframes changebackground {
			5% {background-color: @trbrcolor;}
			25% {background-color: @trbrcolor;}
			50% {background-color: gold;}
			75% {background-color: @thbrcolor;}
			100% {background-color: @thbrcolor;}
		  }

		
		  
	}
.intro {
	display: flex;
	background-color:@thbrcolor;
	color: white;
	text-align: center;
	
      img {
		  width: 40%;
		  height: 40%;
		
	  }
	  header {
		  position: relative;
		  left: 225px;
		  top: 125px;
	}
}
.skills {
        width: 800px;
		height: 300px;
		.center();
	h2 {
		text-decoration: underline;
		font-size: 40px;
		text-align: center;


	}
	p {
		font-size: 20px;
	}

	
		
	}


    
.workhistory {
	  .center();
	  width: 800px;
	  height: 300px;
	  
	h2 {
		text-align: center;
		font-size: 40px;
		text-decoration: underline;
	}
		table {
		
	   
		border: @border;
			th {
				background-color: @thbrcolor;
				width:33.33%;
			
			}
			tr {
				background-color: @trbrcolor;
				width: 33.33%;
			td {
			
				font-size: 18px;
				color: @thbrcolor;
			#one {
				
				text-decoration: underline;
			}
		
		}
			
}	}	}	





footer {
	color: @thbrcolor;
	text-align: center;
	background: @trbrcolor;
}

